:root {
  --cv-margin: 20px;
  --border-color: rgb(0, 62, 277);
  --background-color: rgb(215, 224, 243);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif";
}
.cv {
  border: 3px solid var(--border-color);
  margin: var(--cv-margin);
  height: calc(100vh - 2*var(--cv-margin));
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.cv-header {
  border-bottom: 3px solid var(--border-color);
  display: grid;
/*  grid-template-areas:
    'avatar title'
    'avatar text';
    grid-template-columns: 120px;
    grid-template-rows: [title] 30px [title-end];
*/
    grid-template: 
      [title] 'avatar title' 30px [title-end]
      'avatar text'
      / 120px;
      gap: 10px;
}

.cv-header,
.cv-content {
  padding: var(--cv-margin);
}
.cv-avatar-wrapper {
  border: 3px solid var(--border-color);
  background-color: var((--background-color));
  max-width: 120px;
  border-radius: 0 10px;
}
.cv-avatar{
  width: 100%;
  border-radius: 10px;
}
.cv-text {
  grid-area: text;
}
.cv-title {
  grid-area: title;
}
.cv-avatar-area {
  grid-area: avatar;
}